@import './variables';

.toolbar {
    height: $toolbar-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;

    &__btn {
        height: 25px;
        width: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 10px;
    }

    .brush {
        background-image: url(../assets/img/brush.png);
    }

    .rect {
        background-image: url(../assets/img/rect.png);
    }

    .circle {
        background-image: url(../assets/img/circle.png);
    }

    .eraser {
        background-image: url(../assets/img/eraser.png);
    }

    .line {
        background-image: url(../assets/img/line.png);
    }

    .undo {
        margin-left: auto;
        background-image: url(../assets/img/undo.png);
    }

    .redo {
        background-image: url(../assets/img/redo.png);
    }

    .save {
        margin-right: 10px;
        background-image: url(../assets/img/save.png);
    }
}

.setting-bar {
    height: $toolbar-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}